/* font------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
@import url("https://fonts.google.com/specimen/Montserrat?query=montserrat&selection.family=Montserrat:400,700");
@import url("https://fonts.google.com/specimen/Playfair+Display?category=Serif&selection.family=Playfair+Display:400,400i");
@import url("https://fonts.google.com/specimen/Roboto+Condensed?selection.family=Roboto+Condensed:700");

/* utility-------------------------- */

.img-fluid {
    z-index: -10;
    width: 100%;
}

.z_20 {
    z-index: 20;
}

/* header------------------------------ */

.header-mobile {
    z-index: 10;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 10px;
    text-decoration: none;
}

.title{
    font-size: 30px;
}

.nav_link {
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.nav_link:hover {
    cursor: pointer;
}

/* top------------------------------ */

.image-container {
    position: relative;
}

.top-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to bottom, transparent 0%, white 100%);
}

.jumbo-text {
    position: absolute;
    z-index: 5;
    top: 20%;
    font-family: "Playfair Display", serif;
    font-style: italic;
}

.slogan_up {
    font-size: 50px;
}

.slogan_bt {
    font-size: 20px;
}

/* middle-------------------------- */

.middle_container {
    position: absolute;
    top: 245%;
    height: justify;
}

.about_us {
    font-size: 150px;
    position: absolute;
    top: 155%;
    color: #f1f1f1;
    z-index: -20;
}

.background-middle {
    position: absolute;
    top: 180%;
}

.middle_left {
    width: 50%;
    padding: 3rem;
    background: white;
}

.middle_inner_left {
    width: 60%;
}

.middle_right {
    width: 50%;
    align-items: end;
}

.text_middle {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 20px;
}

.video {
    margin-left: 5rem;
}

.contact_us{
    position: absolute;
    top: 315%;
    width: 100%;
    text-align: center;
    font-size: 150px;
    color: #f1f1f1;
    z-index: -20;
}

/* bottom-------------------------- */

.bottom_container {
    position: absolute;
    top: 340%;
    height: 480px;
    width: 90%;
}

.bottom_left{
    width: 50%;  
}

.bottom_right{
    width: 50%;
    padding-left: 3rem;
}

/* footer-------------------------- */

.footer {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 408%;
    width: 100%;
    height: 420px;
    z-index: -10;
}

.footer_link {
    position: relative;
    left: 55%;
    display: flex;
    margin-top: 3rem;
}

/* Slider-------------------------- */

.slider-navigation {
    position: absolute;
    top: 5%;
    right: -3%;
    display: flex;
    gap: 10px; /* Distanza tra i pulsanti */
}

.btn-warning {
    color: #000; /* Colore del testo */
    background-color: #ffc107; /* Colore di sfondo giallo */
    border-color: #ffc107; /* Colore del bordo */
}

.btn-warning:hover {
    color: #000; /* Colore del testo al hover */
    background-color: #e0a800; /* Colore di sfondo al hover */
    border-color: #d39e00; /* Colore del bordo al hover */
}

.slider_container {
    background: white;
    position: absolute;
    left: 50% - (100% / 2);
    top: 436px;
    width: 80%;
    height: justify;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.slider_inner {
    padding: 2rem;
    width: 100%;
    justify-content: space-between;
    font-family: "Roboto Condensed", sans-serif;
}

.corner {
    background-color: rgb(0, 210, 255);
    position: absolute;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 90% 0, 0% 100%);
    z-index: 10;
}

.image_container {
    width: 75%;
}
.images_container {
    width: 25%;
    flex-direction: column;
}

.info_container {
    width: 40%;
    padding: 2rem;
}

.star {
    color: orange;
}

.no_star {
    color: rgb(228, 228, 228);
}

.info_type {
    border-bottom: 1px solid;
    border-bottom-color: rgb(201, 201, 201);
}

.tab-content {
    height: justify;
}

.tab-link {
    margin-right: 20px;
    font-weight: semi-bold;
    color: rgb(201, 201, 201);
}

.tab-link:hover {
    cursor: pointer;
}

.active-tab-link {
    color: rgb(0, 0, 0);
    border-bottom: 3px solid;
    border-bottom-color: cornflowerblue;
}

.main-image {
    width: 500px;
}

.secondary_images {
    border: 3px solid rgb(211, 211, 211);
    width: 65px;
    aspect-ratio: 1;
    margin: 2px;
}

.active_image {
    border: 3px solid cornflowerblue;
}

.id_counter {
    position: absolute;
    top: 15%;
    right: 0%;
    color: white;
    background: black;
    padding: 0.5rem 1rem;
}

/* form validation----------------- */

.error-tooltip {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-top: -5px;
}

input.error + .error-tooltip {
    display: block;
}

/*--------------------------------------------------------------------------------------- */
@media (max-width: 796px) {
    .slogan_up {
        font-size: 20px;
    }

    .jumbo-text {
        top: 10%;
    }

    .top-img {
        object-fit: cover;
        object-position: center;
        height: 300px;
        width: 100%;
    }

    .menu {
        background: rgba(255, 255, 255, 0.95);
        z-index: 20;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .slider_container {
        top: 200px;
        width: 90%;
    }

    .main-image {
        width: 150px;
    }

    .image_container {
        flex-direction: column;
        width: 80%;
    }

    .images_container {
        flex-direction: row;
        width: 100%;
    }

    .info_container {
        width: 100%;
        padding: 1rem 0;
    }

    .corner {
        width: 80%;
        height: 250px;
    }

    .slider_inner {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .tab-link {
        font-size: 10px;
    }

    .buy {
        display: block;
        text-align: center;
        margin-top: 2rem;
    }

    .middle_container {
        top: 980px;
        height: justify;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .about_us {
        font-size: 50px;
        top: 890px;
        z-index: 100;
        font-family: "Roboto Condensed", sans-serif;
    }

    .background-middle {
        object-fit: cover;
        object-position: center;
        top: 920px;
        height: 100%;
        width: 100%;
    }

    .gradient_overlay_bottom {
        position: absolute;
        top: 1000px;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to bottom,
            transparent 0%,
            white 80%
        );
    }

    .middle_left {
        width: 90%;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.7);
    }

    .middle_inner_left {
        width: 100%;
    }

    .middle_right {
        padding: 0;
        width: 90%;
        justify-content: center;
        margin-top: 3rem;
    }

    .text_middle {
        font-family: "Playfair Display", serif;
        font-style: italic;
        font-size: 16px;
    }

    .video {
        margin-left: 0;
        height: 100%;
    }

    /* Bottom----------------------------- */

    .contact_us{
        position: absolute;
        top: 1570px;
        width: 100%;
        text-align: center;
        font-size: 50px;
        color: #f1f1f1;
        z-index: -20;
    }
    .bottom_container {
        flex-direction: column;
        position: absolute;
        top: 1800px;
        height: justify;
        width: 90%;
    }

    .bottom_left{
        width: 100%;
    }

    .bottom_right{
        width: 100%;
        padding-left: 0;
    }

    .footer {
        background-color: rgb(0, 0, 0);
        position: absolute;
        display: flex;
        justify-content: center;
        top: 2450px;
        width: 100%;
        height: 120px;
        z-index: -10;
    }

    .footer_link {
        position: relative;
        font-size: 14px;
        left: 0;
        display: flex;
        margin: 1rem;
    }
}



