
.img-fluid {
    z-index: -10;
}

.background-middle {
    position: absolute;
    top: 200%;
}

.middle_container {
    position: absolute;
    top: 245%;
    height: 480px;
}

.video {
    margin-left: 5rem;
}

.bottom_container {
    position: absolute;
    top: 340%;
    height: 480px;
    width: 90%;
}


.footer {
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 408%;
  width: 100%;
  height: 420px;
  z-index: -10;
}


/* Slider-------------------------- */

.slider-navigation {
    position: absolute;
    top: 5%;
    right: -10%;
    display: flex;
    gap: 10px; /* Distanza tra i pulsanti */
}

.btn-warning {
    color: #000; /* Colore del testo */
    background-color: #ffc107; /* Colore di sfondo giallo */
    border-color: #ffc107; /* Colore del bordo */
}

.btn-warning:hover {
    color: #000; /* Colore del testo al hover */
    background-color: #e0a800; /* Colore di sfondo al hover */
    border-color: #d39e00; /* Colore del bordo al hover */
}

.slider_container {
    background: white;
    position: absolute;
    left: 185px;
    top: 436px;
    width: 1000px;
    height: 601px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.slider_inner{
  padding: 3rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.corner {
    background-color: rgb(0, 210, 255);
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 601px;
    clip-path: polygon(0 0, 100% 0, 90% 0, 0% 100%);
    z-index: 10;
}

.z_20 {
    z-index: 20;
}

.secondary_images{
    border: 5px solid cornflowerblue;
    width: 75%;
    aspect-ratio: 1;
}





