/* font------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
@import url("https://fonts.google.com/specimen/Montserrat?query=montserrat&selection.family=Montserrat:400,700");
@import url("https://fonts.google.com/specimen/Playfair+Display?category=Serif&selection.family=Playfair+Display:400,400i");
@import url("https://fonts.google.com/specimen/Roboto+Condensed?selection.family=Roboto+Condensed:700");

/* utility-------------------------- */

.img-fluid {
    z-index: -10;
    width: 100%;
}

.z_20 {
    z-index: 20;
}

.w_60 {
    width: 60%;
}

.w_40 {
    width: 40%;
}

/* header------------------------------ */

.header {
    position: absolute;
    top: 3%;
    left: 0;
    font-family: "Roboto Condensed", sans-serif;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 10px;
    text-decoration: none;
}

.nav_link{
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.nav_link:hover{
    cursor: pointer;
}

/* top------------------------------ */

.top-img {
    top: -48px;
}

.jumbo-text {
    position: absolute;
    top: 20%;
    font-family: "Playfair Display", serif;
    font-style: italic;
}

.slogan_up {
    font-size: 45px;
}

.slogan_bt {
    font-size: 20px;
}

/* middle-------------------------- */

.middle_container {
    position: absolute;
    top: 245%;
    height: 480px;
}

.about_us {
    font-size: 150px;
    position: absolute;
    top: 177%;
    color: #f1f1f1;
    z-index: -20;
}

.background-middle {
    position: absolute;
    top: 200%;
}

.text_middle {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 20px;
}

.video {
    margin-left: 5rem;
}

/* bottom-------------------------- */

.bottom_container {
    position: absolute;
    top: 340%;
    height: 480px;
    width: 90%;
}

/* footer-------------------------- */

.footer {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 408%;
    width: 100%;
    height: 420px;
    z-index: -10;
}

/* Slider-------------------------- */

.slider-navigation {
    position: absolute;
    top: 5%;
    right: -3%;
    display: flex;
    gap: 10px; /* Distanza tra i pulsanti */
}

.btn-warning {
    color: #000; /* Colore del testo */
    background-color: #ffc107; /* Colore di sfondo giallo */
    border-color: #ffc107; /* Colore del bordo */
}

.btn-warning:hover {
    color: #000; /* Colore del testo al hover */
    background-color: #e0a800; /* Colore di sfondo al hover */
    border-color: #d39e00; /* Colore del bordo al hover */
}

.slider_container {
    background: white;
    position: absolute;
    left: 50%-500px;
    top: 436px;
    width: 1000px;
    height: 601px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.slider_inner {
    padding: 2rem;
    width: 100%;
    justify-content: space-between;
    font-family: "Roboto Condensed", sans-serif;
}

.corner {
    background-color: rgb(0, 210, 255);
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 601px;
    clip-path: polygon(0 0, 100% 0, 90% 0, 0% 100%);
    z-index: 10;
}

.star {
    color: orange;
}

.no_star {
    color: rgb(228, 228, 228);
}

.info_type {
    border-bottom: 1px solid;
    border-bottom-color: rgb(201, 201, 201);
}

.tab-content {
    height: 200px;
}

.tab-link {
    margin-right: 20px;
    font-weight: semi-bold;
    color: rgb(201, 201, 201);
}

.tab-link:hover{
    cursor: pointer;
}

.active-tab-link {
    color: rgb(0, 0, 0);
    border-bottom: 3px solid;
    border-bottom-color: cornflowerblue;
}

.main-image {
    width: 500px;
}

.secondary_images {
    border: 3px solid rgb(211, 211, 211);
    width: 65px;
    aspect-ratio: 1;
    margin: 2px;
}

.active_image {
    border: 3px solid cornflowerblue;
}

.id_counter {
    position: absolute;
    top: 15%;
    right: 0%;
    color: white;
    background: black;
    padding: 0.5rem 1rem;
}

/* form validation----------------- */

.error-tooltip {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-top: -5px;
}

input.error + .error-tooltip {
    display: block;
}
